.header{
    width:100%;
    height: 120px;
    background-image: linear-gradient(0, #000000, #000000);
    color: white;
    text-decoration: none;
    position:fixed;
    top:0px;
    box-sizing: border-box;
   
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-item{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    text-decoration: none;
}
.header__navbar-item--has-noti:hover .header__noti {
    display: block;
}
.logo {
    height: 67px;
}
.header__noti {
    position: absolute;
    top: 44px;
    width: 160px;
    height:200px;
    background-color: rgb(187, 33, 33);
    border: 1px solid white;
    transform-origin: top center;
    animation:headergrowth ease-in 0.3s ;
    display: none;

}
@keyframes headergrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__noti-header {
    
}
.header__noti-list {
    
}
.header__noti-item {
    list-style: none;
    padding-left: 0;
    text-decoration: none;

}
.header__noti-name {
    color: #000000;
    text-decoration: none;
}

/* CSS PHẦN THÂN */
.img1{
    width:100%;
    height: 260px;
    margin-top:110px;
}
.Chua-img2{
    text-align: center;
}

.img2{
    width:60%;
    margin-top: 26px; 
}

/* css svg */
.svg{
    text-align: center;
    margin-top: 30px;
    position:relative;
}


.svgHCN{
    width:580px;
    height:40px;
}

#svgHCN-1{
    fill:pink;
}

#svgHCN-2{
    width:540px;
    height:40px;
    fill:pink;
    stroke:pink;
    stroke-width: 40px;
}

.dangky{
    position:absolute;
    top: 11px;
    left: 850px;
}
/* css các chủ đề nổi bật */
h2{
    text-align: center;
}

.chude{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
}
/* PC */
@media(min-width: 740px) {
    .chude{
        flex-direction: row;
    }
}
.item{
    width:20%;
    height:160px;
    
}

.item-1{
    border:1px solid #000;
    height:160px;
}
.one{
   
    background-image: url(anh3.png);
    background-size: 100%;
}
.two{
    background-image: url(anh4.png);
    background-size: 100%;
}
.three{
  
    background-image: url(anh5.png);
    background-size: 100%;
}




